# Ensure you copy this file to `.env` before running

# The API Key required for the LLM Compliance/Remediation Engine
# Replace with OpenAI, Azure, or Leave Blank if using local LocalAi/vLLM endpoints
GOOGLE_API_KEY=your_gemini_or_vllm_api_key

# Fast API Backend Port
BACKEND_PORT=8000

# Node/Nginx Frontend Port
FRONTEND_PORT=8080
